div#container
{
   width: 1024px;
   position: absolute;
   margin-top: 0px;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
div.sdmenu {
	width: 250px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding-bottom: 10px;
	text-align: left
}
div.sdmenu div {
	background: #410F34;
	color: #FEB300;
	overflow: hidden;
}
div.sdmenu div.collapsed {
	height: 25px;
}
div.sdmenu div span {
	display: block;
	padding: 5px 25px;
	font-weight: bold;
	background: url(sdmenu/expanded.gif) no-repeat 10px center;
	cursor: default;
	border-bottom: 1px solid #ddd;
}
div.sdmenu div.collapsed span {
	background-image: url(sdmenu/collapsed.gif);
}
.menu-title {
	display: block;
	padding: 5px 25px;
	font-weight: bold;
	cursor: default;
	border: 2px solid #ddd;
	width: 198 px;
}
div.sdmenu div a {
	padding: 5px 10px;
	background: #fff;
	display: block;
	border-bottom: 1px solid #ddd;
	text-decoration: none;
	color: #066;
}
div.sdmenu div a.current {
	background : #ccc;
}
div.sdmenu div a:hover {
	background : #066 url(sdmenu/linkarrow.gif) no-repeat right center;
	color: #fff;
	text-decoration: none;
}
.admin-link
{
	text-decoration:none;
}
.admin-link:hover
{
	text-decoration: underline;
}